@media (min-width: 459px) {
  #Home .image img {
    width: 100%;
  }

  #WhatDoTheySayAboutUs .swiper-button-prev,
  #WhatDoTheySayAboutUs .swiper-button-next {
  margin: 0 1.5rem;
}

  #HowToFindUs .contact img {
    margin-left: -15rem;
  }

  #HowToFindUs .contact i {
    left: 12rem;
    top: 7rem;
  }

  #Footer .text .logo {
    margin-left: 8rem;
  }

  #Footer .backToTopButton img {
    width: 7rem;
    height: 7rem;
  }
}
